html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.footer {
  margin-top: auto;
}
.logo-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 24px;
  height: 64px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
}

.header-menu {
  border-bottom: none;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.header-menu > .ant-menu-item > a {
  color: #000;
}

.header-menu > .ant-menu-item > a:hover {
  color: #1890ff;
}

.cart {
  font-size: 24px;
  color: #000;
}
